Repository 14islands/r3f-scroll-rig: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run staged:lint, npm run staged:format

1.2.0
  package.json
Due: none

chore: upgrade zustand
  package.json
  src/reflow.js
Due: npm run staged:lint, npm run staged:format

chore: upgrade zustand
  yarn.lock
Due: none

chore: refactor scrollbar into new folder
  rollup.config.js
  src/index.js
  src/scrollbar/VirtualScrollbar.js
  src/scrollbar/index.js
  src/scrollbar/useScrollbar.js
Due: npm run staged:lint, npm run staged:format

fix: added conf overrides and removed default FBO
  src/GlobalCanvas.js
  src/GlobalRenderer.js
Due: npm run staged:lint, npm run staged:format

fix(ResizeManager): fix resize on height bug + debounce resize to fix reflow bug
  src/ResizeManager.js
Due: npm run staged:lint, npm run staged:format

chore: upgrade react-three-fiber
  package.json
  yarn.lock
Due: none

fix(StatsDebug): print triangles, geometries and textures too
  src/PerspectiveCameraScene.js
  src/ScrollScene.js
  src/StatsDebug.js
  src/config.js
Due: npm run staged:lint, npm run staged:format

fix: add pageReflowCompleted to store
  src/reflow.js
  src/store.js
  src/useScrollRig.js
Due: npm run staged:lint, npm run staged:format

chore: update changelog
  src/changelog.md
Due: npm run staged:format

fix(examples): provide global orto/perspective camreas + adjust to scaleMultiplier
  examples/package.json
  examples/src/App.css
  examples/src/App.js
  examples/src/components/InlineBox.js
  examples/src/components/ModelViewport.js
  examples/src/components/OrthographicCamera.js
  examples/src/components/ParallaxScrollScene.js
  examples/src/components/StickyBox.js
  examples/src/components/StickyScrollScene.js
  examples/src/components/image/Image.js
  examples/src/components/image/ParallaxImage.js
  examples/src/components/image/RotatingImage.js
  examples/src/components/image/StickyImage.js
  examples/src/components/image/Video.js
  examples/src/components/image/WebGLImage.js
  examples/src/components/image/WebGLVideo.js
  examples/src/components/image/rotating.vert
  examples/src/components/image/shader.vert
  examples/src/components/text/Text.js
  examples/src/components/text/WebGLText.js
  examples/src/components/text/WobblyTextMesh.js
  examples/yarn.lock
Due: none

new build
  .size-snapshot.json
  dist/scrollbar.cjs.js
  dist/scrollbar.d.ts
  dist/scrollbar.js
  dist/web.cjs.js
  dist/web.js
Due: none

1.3.0
  package.json
Due: none

fix: perspective scene accepts scaleMultiplier override. both exposes scrollState to children and uses scale prop for dimensions
  src/PerspectiveCameraScene.js
  src/ScrollScene.js
Due: npm run staged:lint, npm run staged:format

fix(examples): remove all references to state prop in children
  examples/src/App.js
  examples/src/components/InlineBox.js
  examples/src/components/ModelViewport.js
  examples/src/components/ParallaxScrollScene.js
  examples/src/components/StickyBox.js
  examples/src/components/StickyScrollScene.js
  examples/src/components/image/WebGLImage.js
  examples/src/components/image/WebGLVideo.js
  examples/src/components/text/Text.js
  examples/src/components/text/WobblyTextMesh.js
Due: none

chore: update readme
  src/changelog.md
Due: npm run staged:format

new build
  .size-snapshot.json
  dist/web.cjs.js
  dist/web.js
Due: none

v1.4.0
  package.json
Due: none

Deprecated lyoutOffset and leyoutLerp. Should be implemented by child component.
  .size-snapshot.json
  dist/web.cjs.js
  dist/web.js
  examples/src/App.js
  src/ScrollScene.js
  src/changelog.md
Due: npm run staged:lint, npm run staged:format

v1.5.0
  package.json
Due: none

fix(examples): scale up sticky image test
  examples/src/App.js
  examples/src/components/ParallaxScrollScene.js
  examples/src/components/image/StickyImage.js
Due: none

fix(examples): reduced text wobble and picked global scale multiplier that looks best for the wobble
  examples/src/App.js
  examples/src/components/StickyBox.js
  examples/src/components/text/WobblyTextMesh.js
Due: none

chore: renamed PerspectiveCameraScene to ViewportScrollScene with optional camera type
  .size-snapshot.json
  dist/web.cjs.js
  dist/web.js
  examples/src/components/ModelViewport.js
  src/ViewportScrollScene.js
  src/changelog.md
  src/index.js
Due: npm run staged:lint, npm run staged:format

fix: removed cycled dep in GlobalRenderer/useScrollRig
  .size-snapshot.json
  dist/scrollbar.cjs.js
  dist/scrollbar.js
  dist/web.cjs.js
  dist/web.js
  examples/src/App.js
  src/GlobalCanvas.js
  src/GlobalRenderer.js
  src/config.js
  src/renderer-api.js
  src/useScrollRig.js
Due: npm run staged:lint, npm run staged:format

fix: always use custom default cameras
  src/GlobalCanvas.js
  src/OrthographicCamera.js
  src/PerformanceMonitor.js
  src/PerspectiveCamera.js
  src/changelog.md
  src/config.js
Due: npm run staged:lint, npm run staged:format

fix(examples): removed cameras which are now part of the scroll-rig instead
  examples/src/App.js
  examples/src/components/ModelViewport.js
  examples/src/components/OrthographicCamera.js
  examples/src/components/PerspectiveCamera.js
Due: none

new build
  .size-snapshot.json
  dist/scrollbar.cjs.js
  dist/scrollbar.js
  dist/web.cjs.js
  dist/web.js
Due: none

v1.6.0
  package.json
Due: none

feat: allow GlobalCanvas to render as other element, e.g. VRCanvas
  src/GlobalCanvas.js
Due: npm run staged:lint, npm run staged:format

v1.7.0
  package.json
Due: none

fix(GlobalRenderer): only turn off autoClear if we have viewports before global render
  src/GlobalRenderer.js
Due: npm run staged:lint, npm run staged:format

new build 1.7.1
  .size-snapshot.json
  dist/web.cjs.js
  dist/web.js
Due: none

v1.7.1
  package.json
Due: none

build: include examples in published package
  package.json
Due: none

v1.7.2
  package.json
Due: none

feat(ScrollScene): add positionFixed prop
  src/ScrollScene.js
Due: npm run staged:lint, npm run staged:format

v1.7.3
  package.json
Due: none

fix(VirtualScrollbar): add optional prop scrollToTop to scroll up on mount
  src/scrollbar/VirtualScrollbar.js
Due: npm run staged:lint, npm run staged:format

Path conditions:
  npm run staged:lint: any of: src/**/*.js
  npm run staged:format: any of: src/**/*.{js,jsx,css,scss,md,json}
