Repository 14islands/r3f-scroll-rig: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run staged:lint, npm run staged:format

chore: update changelog
  src/changelog.md
Due: npm run staged:format

new build
  .size-snapshot.json
  dist/scrollbar.cjs.js
  dist/scrollbar.js
  dist/web.cjs.js
  dist/web.js
Due: none

v1.8.0
  package.json
Due: none

feat: added VR test example WIP
  examples/package.json
  examples/src/VRApp.js
  examples/src/components/InlineBox.js
  examples/src/components/InlineModel.js
  examples/src/components/VRBox.js
  examples/src/components/image/Image.js
  examples/src/components/image/ParallaxImage.js
  examples/src/components/image/RotatingImage.js
  examples/src/components/image/StickyImage.js
  examples/src/components/text/Text.js
  examples/src/components/text/WebGLText.js
  examples/src/components/text/WobblyTextMesh.js
  examples/src/index.css
  examples/src/index.js
  examples/yarn.lock
Due: none

chore: readme wip
  README.md
Due: none

new version without scissors by default
  .size-snapshot.json
  README.md
  dist/web.cjs.js
  dist/web.js
  examples/package.json
  examples/src/App.js
  examples/src/assets/rounded-tile_3_1.draco.glb
  examples/src/assets/rounded-tile_3_1.glb
  examples/src/components/InlineCustomModelAnimation.js
  examples/src/components/InlineModel.js
  examples/src/components/ModelViewport.js
  examples/src/components/StickyScrollScene.js
  examples/src/components/Viewport3DScene.js
  examples/src/components/text/Text.js
  examples/src/components/text/WebGLText.js
  examples/src/components/text/WobblyTextMesh.js
  examples/yarn.lock
  package.json
  src/GlobalRenderer.js
  src/ScrollScene.js
  src/changelog.md
  yarn.lock
Due: npm run staged:lint, npm run staged:format

v1.9.0
  package.json
Due: none

update deps
  examples/package.json
  examples/yarn.lock
  package.json
  yarn.lock
Due: none

v1.9.1
  package.json
Due: none

removed drei dep
  .gitignore
  .size-snapshot.json
  dist/web.cjs.js
  dist/web.js
  examples/package.json
  examples/yarn.lock
  package.json
  src/GlobalCanvas.js
  yarn.lock
Due: npm run staged:lint, npm run staged:format

v1.9.2
  package.json
Due: none

remove r3f as dev dep
  package.json
  yarn.lock
Due: none

v1.9.3
  package.json
Due: none

removed r3f hook from useScrollRig
  src/useScrollRig.js
Due: npm run staged:lint, npm run staged:format

new build
  .size-snapshot.json
  dist/web.cjs.js
  dist/web.js
Due: none

v1.9.4
  package.json
Due: none

add three and r3f as deps
  package.json
  yarn.lock
Due: none

v1.9.5
  package.json
Due: none

replace Math import with MathUtils from three
  .size-snapshot.json
  dist/web.cjs.js
  dist/web.js
  examples/src/components/image/WebGLVideo.js
  package.json
  src/ScrollDom.js
  src/ScrollDomPortal.js
  src/ScrollScene.js
  src/ViewportScrollScene.js
  src/useImgTagAsTexture.js
  yarn.lock
Due: npm run staged:lint, npm run staged:format

v1.9.6
  package.json
Due: none

skip checking for POT images when flipping bitmaploader since webgl2
  .size-snapshot.json
  dist/web.cjs.js
  dist/web.js
  examples/src/components/image/WebGLImage.js
  package.json
  src/useImgTagAsTexture.js
Due: npm run staged:lint, npm run staged:format

v1.9.7
  package.json
Due: none

only use ImageBitmapLoader with webgl2 for simplicity
  .size-snapshot.json
  dist/web.cjs.js
  dist/web.js
  src/useImgTagAsTexture.js
Due: npm run staged:lint, npm run staged:format

v1.9.10
  package.json
Due: none

fix useBitmapLoader debug flag
  .size-snapshot.json
  dist/web.cjs.js
  dist/web.js
  package.json
  src/useImgTagAsTexture.js
Due: npm run staged:lint, npm run staged:format

v1.9.11
  package.json
Due: none

antialias and depth are now true by default.
  .size-snapshot.json
  dist/scrollbar.cjs.js
  dist/scrollbar.js
  dist/web.cjs.js
  dist/web.js
  src/GlobalCanvas.js
  src/changelog.md
  src/scrollbar/VirtualScrollbar.js
Due: npm run staged:lint, npm run staged:format

v1.9.12
  package.json
Due: none

add classname to portal
  src/GlobalCanvas.js
Due: npm run staged:lint, npm run staged:format

use external portal DOM element or return children from ScrolDomPortal
  .size-snapshot.json
  dist/scrollbar.cjs.js
  dist/scrollbar.js
  dist/web.cjs.js
  dist/web.js
  src/GlobalCanvas.js
  src/ScrollDomPortal.js
  src/config.js
Due: npm run staged:lint, npm run staged:format

update changelog
  src/changelog.md
Due: npm run staged:format

v1.9.13
  package.json
Due: none

fix scroldomPortal ref
  .size-snapshot.json
  dist/web.cjs.js
  dist/web.js
  src/ScrollDomPortal.js
Due: npm run staged:lint, npm run staged:format

v1.9.14
  package.json
Due: none

ScrollScene: allow scrollY to be passed in
  .size-snapshot.json
  dist/web.cjs.js
  dist/web.js
  src/ScrollDomPortal.js
  src/ScrollScene.js
Due: npm run staged:lint, npm run staged:format

v1.9.15
  package.json
Due: none

try integer steps on scrollscene
  .size-snapshot.json
  dist/web.cjs.js
  dist/web.js
  src/ScrollScene.js
Due: npm run staged:lint, npm run staged:format

v1.9.16
  package.json
Due: none

added config flag for subpixel scrolling that affets ScrollScene
  .size-snapshot.json
  dist/scrollbar.cjs.js
  dist/scrollbar.js
  dist/web.cjs.js
  dist/web.js
  src/ScrollScene.js
  src/config.js
Due: npm run staged:lint, npm run staged:format

update chagnelog
  src/changelog.md
Due: npm run staged:format

Path conditions:
  npm run staged:lint: any of: src/**/*.js
  npm run staged:format: any of: src/**/*.{js,jsx,css,scss,md,json}
