Repository 14islands/r3f-scroll-rig: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run staged:lint, npm run staged:format

.lintstagedrc:

{
  "src/**/*.js": ["npm run staged:lint"],
  "src/**/*.{js,jsx,css,scss,md,json}": ["npm run staged:format"]
}

v1.9.17
  package.json
Due: none

test floor y for non subpixel scrolling
  .size-snapshot.json
  dist/web.cjs.js
  dist/web.js
  examples/src/App.css
  examples/src/App.js
  examples/src/components/text/Text.js
  src/ScrollScene.js
Due: npm run staged:lint, npm run staged:format

v1.9.18
  package.json
Due: none

revert scroll test
  examples/src/App.css
  examples/src/App.js
  examples/src/components/text/Text.js
Due: none

try math.floor on scrollscene initial pos too
  .size-snapshot.json
  dist/web.cjs.js
  dist/web.js
  src/ScrollScene.js
Due: npm run staged:lint, npm run staged:format

v1.9.19
  package.json
Due: none

fix initalPos rounding
  src/ScrollScene.js
Due: npm run staged:lint, npm run staged:format

new build
  dist/web.cjs.js
  dist/web.js
Due: none

v1.9.20
  package.json
Due: none

removed experimental features
  .size-snapshot.json
  dist/web.cjs.js
  dist/web.js
  src/ScrollDom.js
  src/ScrollScene.js
  src/changelog.md
  src/index.js
Due: npm run staged:lint, npm run staged:format

removed framer motion deps
  .size-snapshot.json
  dist/scrollbar.cjs.js
  dist/scrollbar.js
  dist/web.cjs.js
  dist/web.js
  package.json
  src/DefaultScrollTracker.js
  src/GlobalCanvas.js
  src/ScrollDomPortal.js
  src/ScrollScene.js
  src/ViewportScrollScene.js
  src/changelog.md
  src/scrollbar/VirtualScrollbar.js
  src/store.js
  yarn.lock
Due: npm run staged:lint, npm run staged:format

v1.9.21
  package.json
Due: none

use lerp from config runtime
  README.md
  src/ScrollScene.js
Due: npm run staged:lint, npm run staged:format

ViewportScrollScene: respect config.subpixelScrolling setting
  .size-snapshot.json
  dist/web.cjs.js
  dist/web.js
  src/ScrollScene.js
  src/ViewportScrollScene.js
Due: npm run staged:lint, npm run staged:format

update readme
  README.md
Due: none

v1.9.22
  package.json
Due: none

Add back Stats component + new HicjakedScrollbar component
  .size-snapshot.json
  README.md
  dist/scrollbar.cjs.js
  dist/scrollbar.js
  dist/web.cjs.js
  dist/web.js
  examples/src/App.js
  src/GlobalCanvas.js
  src/Stats.js
  src/changelog.md
  src/config.js
  src/index.js
  src/scrollbar/HijackedScrollbar.js
Due: npm run staged:lint, npm run staged:format

new build
  .size-snapshot.json
  dist/web.cjs.js
  dist/web.js
Due: none

update changelog
  src/changelog.md
Due: npm run staged:format

v1.10.0
  package.json
Due: none

upgrade scroll rig
  examples/package.json
  examples/yarn.lock
Due: none

add stdlib export
  .size-snapshot.json
  dist/scrollbar.d.ts
  dist/stdlib.cjs.js
  dist/stdlib.d.ts
  dist/stdlib.js
  dist/web.d.ts
  examples/src/components/image/ParallaxImage.js
  examples/src/components/image/StickyImage.js
  examples/src/components/stdlib/ParallaxScrollScene.js
  examples/src/components/stdlib/StickyScrollScene.js
  examples/src/components/stdlib/WebGLImage.js
  examples/src/components/stdlib/WebGLText.js
  examples/src/components/stdlib/index.js
  package.json
  rollup.config.js
  stdlib/package.json
Due: none

v1.11.0
  package.json
Due: none

fix WebGLText lineHeight when pixels
  .size-snapshot.json
  dist/stdlib.cjs.js
  dist/stdlib.js
  examples/package.json
  examples/src/components/InlineCustomModelAnimation.js
  examples/src/components/StickyBox.js
  examples/src/components/image/Image.js
  examples/src/components/image/RotatingImage.js
  examples/src/components/stdlib/WebGLText.js
  examples/src/components/text/WobblyTextMesh.js
  examples/yarn.lock
Due: none

v1.11.1
  package.json
Due: none

fix(WebGLText): fix parse number precision and fix textAlign
  examples/src/components/stdlib/WebGLText.js
Due: none

new build
  .size-snapshot.json
  dist/stdlib.cjs.js
  dist/stdlib.js
  examples/src/components/stdlib/WebGLText.js
Due: none

v1.11.2
  package.json
Due: none

Make sure canvas with error boundary is exported
  .size-snapshot.json
  dist/web.cjs.js
  dist/web.js
  src/GlobalCanvas.js
  src/Stats.js
  src/index.js
Due: npm run staged:lint, npm run staged:format

v1.11.3
  package.json
Due: none

also add class if canvas is in error
  src/GlobalCanvas.js
Due: npm run staged:lint, npm run staged:format

v1.11.4
  package.json
Due: none

fix(ScrollScene): now uses portal to render scissor scene
  .size-snapshot.json
  dist/web.cjs.js
  dist/web.js
  src/ScrollScene.js
Due: npm run staged:lint, npm run staged:format

v1.11.5
  package.json
Due: none

v2
  .size-snapshot.json
  README.md
  dist/scrollbar.cjs.js
  dist/scrollbar.js
  dist/stdlib.cjs.js
  dist/stdlib.js
  dist/web.cjs.js
  dist/web.js
  examples/src/App.js
  examples/src/components/InlineBox.js
  examples/src/components/InlineCustomModelAnimation.js
  examples/src/components/InlineModel.js
  examples/src/components/ModelViewport.js
  examples/src/components/StickyBox.js
  examples/src/components/Viewport3DScene.js
  examples/src/components/image/WebGLVideo.js
  examples/src/components/stdlib/StickyScrollScene.js
  examples/src/components/stdlib/WebGLImage.js
  examples/src/components/text/WobblyTextMesh.js
  src/GlobalCanvas.js
  src/GlobalRenderer.js
  src/ScrollDomPortal.js
  src/ScrollScene.js
  src/ViewportScrollScene.js
  src/changelog.md
  src/config.js
  src/renderer-api.js
  src/store.js
  src/useScrollRig.js
Due: npm run staged:lint, npm run staged:format

v2.0.0
  package.json
Due: none

Scrollscene, try to update calcs when scene changes
  .size-snapshot.json
  dist/web.cjs.js
  dist/web.js
  src/ScrollScene.js
Due: npm run staged:lint, npm run staged:format

v2.0.1
  package.json
Due: none
